<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jjpartnership.hub">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/clickfield_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view_layer.activities.main_activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_layer.activities.boot_activity.BootActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_boot"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_layer.activities.create_agent_account_activity.AccountDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view_layer.activities.unauthorized_user_activity.UnauthorizedUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view_layer.activities.account_activity.AccountChatActivity"
            android:parentActivityName=".view_layer.activities.main_activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.activities.direct_message_activity.DirectMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view_layer.activities.group_chat_activity.GroupChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view_layer.activities.customer_request_chat_activity.CustomerRequestChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view_layer.activities.user_profile_activity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.activities.share_lead_activity.ShareLeadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.activities.search_activities.AddAccountActivity"
            android:parentActivityName=".view_layer.activities.main_activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.activities.search_activities.NewDirectMessageActivity"
            android:parentActivityName=".view_layer.activities.main_activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.activities.add_new_account_activity.AddNewAccountActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view_layer.activities.request_account_access_activity.RequestAccountAccessActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>